@page
@model LeaderboardsModel

<h2>Leaderboards</h2>

<form method="get">
    <input type="text" name="SearchString" value="@Model.SearchString" placeholder="Search leaderboards" />
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>---</th>
            <th>
                <a asp-page="./Leaderboards" asp-route-sortDescending="@(Model.SortDescending ? "false" : "true")">Stars</a>
            </th>
            <th>Name</th>
            <th>Diff</th>
            <th>Mapper</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaderboard in Model.Leaderboards)
        {
            <tr>
                <td><img class="lb-cover" src="@leaderboard.Cover" /></td>
                <td>@leaderboard.Stars</td>
                <td><a asp-page="/Leaderboard" asp-route-id="@leaderboard.Id">@leaderboard.Name</a></td>
                <td>@leaderboard.DifficultyName</td>
                <td>@leaderboard.Mapper</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @{
            int firstPageToShow = Model.CurrentPage - 5;
            int lastPageToShow = Model.CurrentPage + 4;
            if (firstPageToShow < 1)
            {
                firstPageToShow = 1;
                lastPageToShow = 10;
            }
            if (lastPageToShow > Model.TotalPages)
            {
                lastPageToShow = Model.TotalPages;
                firstPageToShow = Model.TotalPages - 9 > 1 ? Model.TotalPages - 9 : 1;
            }

            for (int i = firstPageToShow; i <= lastPageToShow; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./Leaderboards" asp-route-currentPage="@i" asp-route-sortDescending="@Model.SortDescending" asp-route-searchString="@Model.SearchString">@i</a>
                </li>
            }
        }
    </ul>
</nav>

<style>
    .lb-cover {
        width: 3em;
        height: 3em;
    }
</style>

