@page "/player/{id}"
@model PlayerModel

<h2>@Model.Player.Name</h2>
<p>#@Model.Player.Rank - @Model.Player.Pp pp</p>

<table class="table">
    <thead>
        <tr>
            <th>Map</th>
            <th>PP</th>
            <th>Accuracy</th>
            <th>Mods</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var score in Model.Scores)
        {
            <tr>
                <td><a asp-page="/Leaderboard" asp-route-id="@score.Leaderboard.Id">@score.Leaderboard.Name - @score.Leaderboard.DifficultyName</a></td>
                <td>@score.Pp</td>
                <td>@score.Accuracy</td>
                <td>@score.Modifiers</td>
                
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Player scores navigation">
    <ul class="pagination">
        @{
            int firstPageToShow = Model.CurrentPage - 5;
            int lastPageToShow = Model.CurrentPage + 4;
            if (firstPageToShow < 1)
            {
                firstPageToShow = 1;
                lastPageToShow = 10;
            }
            if (lastPageToShow > Model.TotalPages)
            {
                lastPageToShow = Model.TotalPages;
                firstPageToShow = Model.TotalPages - 9 > 1 ? Model.TotalPages - 9 : 1;
            }

            for (int i = firstPageToShow; i <= lastPageToShow; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./Player" asp-route-id="@Model.Player.Id" asp-route-currentPage="@i">@i</a>
                </li>
            }
        }
    </ul>
</nav>

